<table class="table table-hover mt-4">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Profile</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Hobbies</th>
      <th scope="col">Section</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <th scope="row">{{student.id}}</th>
      <td>  <img src="{{ student.profile }}" height="50" width="50" /> </td>
      <td>{{ student.first_name }}</td>
      <td>{{ student.last_name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.hobbies }}</td>
      <td>{{ student.section }}</td>
      <td>
        <button type="submit"  class="btn btn-primary me-2"  data-toggle="modal" data  routerLink="edit/{{student.id}}">Edit</button>
        <button type="submit" (click)="deleteStudent(student)" class="btn btn-danger"  data-toggle="modal" data>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
